<a href="https://colab.research.google.com/github/river6907/Bigdata-Analysis/blob/main/EDA_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Anscombe's quartet 데이터 셋 분석

Anscombe's quartet 데이터 셋을 이용

In [14]:
from google.colab import files
uploaded = files.upload()

Saving anscombe.csv to anscombe.csv

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Set style of plotting area
import matplotlib.style as style
style.use('seaborn')

In [15]:
import io
import pandas as pd

anscombe = pd.read_csv(io.StringIO(uploaded['anscombe.csv'].decode('utf-8')))

In [16]:
anscombe.columns = anscombe.columns.str.split('_', expand=True)
anscombe.columns = anscombe.columns.swaplevel(1,0)

anscombe

     I         II       III         IV
     x      y   x     y   x      y   x      y
0   10   8.04  10  9.14  10   7.46   8   6.58
1    8   6.95   8  8.14   8   6.77   8   5.76
2   13   7.58  13  8.74  13  12.74   8   7.71
3    9   8.81   9  8.77   9   7.11   8   8.84
4   11   8.33  11  9.26  11   7.81   8   8.47
5   14   9.96  14  8.10  14   8.84   8   7.04
6    6   7.24   6  6.13   6   6.08   8   5.25
7    4   4.26   4  3.10   4   5.39  19  12.50
8   12  10.84  12  9.13  12   8.15   8   5.56
9    7   4.82   7  7.26   7   6.42   8   7.91
10   5   5.68   5  4.74   5   5.73   8   6.89

각 데이터 셋에 대한 요약통계 확인

In [19]:
anscombe["I"].describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.031568
min     4.000000   4.260000
25%     6.500000   6.315000
50%     9.000000   7.580000
75%    11.500000   8.570000
max    14.000000  10.840000

In [21]:
anscombe["II"].describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.031657
min     4.000000   3.100000
25%     6.500000   6.695000
50%     9.000000   8.140000
75%    11.500000   8.950000
max    14.000000   9.260000

In [22]:
anscombe["III"].describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500000
std     3.316625   2.030424
min     4.000000   5.390000
25%     6.500000   6.250000
50%     9.000000   7.110000
75%    11.500000   7.980000
max    14.000000  12.740000

In [23]:
anscombe["IV"].describe()

               x          y
count  11.000000  11.000000
mean    9.000000   7.500909
std     3.316625   2.030579
min     8.000000   5.250000
25%     8.000000   6.170000
50%     8.000000   7.040000
75%     8.000000   8.190000
max    19.000000  12.500000

각 데이터 셋에 대한 상관계수 확인

In [17]:
print("Correlation coefficient for:\n")

print("Dataset I: " + str(anscombe["I"]["x"].corr(anscombe["I"]["y"])))
print("Dataset II: " + str(anscombe["II"]["x"].corr(anscombe["II"]["y"])))
print("Dataset III: " + str(anscombe["III"]["x"].corr(anscombe["III"]["y"])))
print("Dataset IV: " + str(anscombe["IV"]["x"].corr(anscombe["IV"]["y"])))

Correlation coefficient for:

Dataset I: 0.81642051634484
Dataset II: 0.8162365060002428
Dataset III: 0.8162867394895984
Dataset IV: 0.8165214368885028

# 2. physicalFitness 데이터 탐색적 분석 연습

(1)"physicalFitness.csv" 파일 로드

In [24]:
from google.colab import files
uploaded = files.upload()

Saving physicalFitness.csv to physicalFitness.csv

In [26]:
import io
import pandas as pd

fitness = pd.read_csv(io.StringIO(uploaded['physicalFitness.csv'].decode('utf-8')))

In [27]:
fitness

      ageGroup  sex  height  weight   BMI  bodyFat
0            1    1   158.0    45.0  18.0      8.1
1            1    1   158.1    53.4  21.4      7.0
2            1    1   160.0    58.0  22.7      8.3
3            1    1   160.0    66.0  25.8     18.6
4            1    1   161.0    76.0  29.3     21.3
...        ...  ...     ...     ...   ...      ...
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

[4034 rows x 6 columns]

In [ ]:
(2)남녀 데이터를 분리

In [49]:
man = fitness.loc[fitness['sex']== 1]
display(man)

      ageGroup  sex  height  weight   BMI  bodyFat
0            1    1   158.0    45.0  18.0      8.1
1            1    1   158.1    53.4  21.4      7.0
2            1    1   160.0    58.0  22.7      8.3
3            1    1   160.0    66.0  25.8     18.6
4            1    1   161.0    76.0  29.3     21.3
...        ...  ...     ...     ...   ...      ...
3940         9    1   177.8    88.8  28.1     36.5
3941         9    1   177.9    84.7  26.8     21.4
3942         9    1   178.5    71.5  22.4     16.2
3943         9    1   179.1    70.7  22.0     14.1
3944         9    1   180.0    75.0  23.1     16.2

[2442 rows x 6 columns]

In [50]:
woman = fitness.loc[fitness['sex']== 2]
display(woman)

      ageGroup  sex  height  weight   BMI  bodyFat
459          1    2   146.6    43.8  20.4     26.9
460          1    2   147.0    47.5  22.0     35.7
461          1    2   147.8    49.4  22.6     23.8
462          1    2   148.0    40.0  18.3     17.1
463          1    2   148.0    44.0  20.1     15.8
...        ...  ...     ...     ...   ...      ...
4029         9    2   162.0    64.0  24.4     27.0
4030         9    2   163.5    56.6  21.2     20.8
4031         9    2   164.4    68.1  25.2     35.8
4032         9    2   164.6    61.7  22.8     26.6
4033         9    2   167.0    66.0  23.7     28.1

[1592 rows x 6 columns]

(3)남녀 요약통계를 확인

In [51]:
man.describe()

          ageGroup     sex       height       weight          BMI      bodyFat
count  2442.000000  2442.0  2442.000000  2442.000000  2442.000000  2442.000000
mean      4.254709     1.0   172.846437    72.662162    24.316667    17.350287
std       2.457135     0.0     6.382513     9.337749     2.813345     5.645803
min       1.000000     1.0   149.600000    42.200000    14.900000     3.900000
25%       2.000000     1.0   169.000000    66.500000    22.400000    13.400000
50%       4.000000     1.0   173.000000    72.000000    24.000000    17.200000
75%       6.000000     1.0   177.000000    78.000000    26.000000    21.200000
max       9.000000     1.0   194.700000   122.500000    38.900000    37.300000

In [52]:
woman.describe()

          ageGroup     sex       height       weight          BMI      bodyFat
count  1592.000000  1592.0  1592.000000  1592.000000  1592.000000  1592.000000
mean      4.499372     2.0   159.794535    56.945289    22.322802    24.929460
std       2.519066     0.0     5.758871     7.481166     2.883158     5.466395
min       1.000000     2.0   131.600000    37.500000    15.200000    10.300000
25%       2.000000     2.0   156.000000    52.000000    20.400000    21.075000
50%       4.000000     2.0   160.000000    56.100000    22.000000    24.300000
75%       7.000000     2.0   163.600000    61.000000    23.900000    28.100000
max       9.000000     2.0   176.200000    93.800000    35.700000    45.600000

(4)전체 데이터의 키와 몸무게의 상관관계 확인

In [53]:
print("Correlation coefficient for:\n")

print(str(fitness["height"].corr(fitness["weight"])))

Correlation coefficient for:

0.6910631485823828

(5)성별에 대한 연령별 평균 BMI 테이블 재구성하여 요약통계 확인

In [54]:
table1 = pd.pivot_table(fitness, values='BMI', index=['sex'],
                    columns=['ageGroup'], aggfunc=np.mean)

In [55]:
table1

ageGroup,1,2,3,4,5,6,7,8,9
sex,,,,,,,,,
1,23.271678,23.785075,24.876524,25.228852,24.047266,24.446595,24.87439,24.470619,24.558879
2,20.707746,20.837324,21.368528,22.240556,22.720874,23.329697,23.37929,23.954375,24.397753

In [56]:
table1.describe()

ageGroup,1,2,3,4,5,6,7,8,9
count,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,21.989712,22.311199,23.122526,23.734704,23.384070,23.888146,24.126840,24.212497,24.478316
std,1.812973,2.084374,2.480528,2.113045,0.937901,0.789766,1.057196,0.365039,0.113933
min,20.707746,20.837324,21.368528,22.240556,22.720874,23.329697,23.379290,23.954375,24.397753
25%,21.348729,21.574262,22.245527,22.987630,23.052472,23.608921,23.753065,24.083436,24.438034
50%,21.989712,22.311199,23.122526,23.734704,23.384070,23.888146,24.126840,24.212497,24.478316
75%,22.630695,23.048137,23.999525,24.481778,23.715668,24.167370,24.500615,24.341558,24.518597
max,23.271678,23.785075,24.876524,25.228852,24.047266,24.446595,24.874390,24.470619,24.558879