**실습 #1. iris 데이터 셋을 이용한 데이터프레임 연습**

1) IrisData.csv 파일 읽기

In [40]:
from google.colab import files
myfile = files.upload()

Saving IrisData.csv to IrisData.csv

In [41]:
import io
df = pd.read_csv(io.BytesIO(myfile['IrisData.csv']))

In [42]:
df

     Sepal length  Sepal width  Petal length  Petal width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

**2) 데이터 살펴보기**

(1)데이터 구조 확인 (shape, index, columns)

In [43]:
import pandas as pd
import numpy as np

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal length  150 non-null    float64
 1   Sepal width   150 non-null    float64
 2   Petal length  150 non-null    float64
 3   Petal width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [45]:
df.describe()

       Sepal length  Sepal width  Petal length  Petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [48]:
df.dtypes

Sepal length    float64
Sepal width     float64
Petal length    float64
Petal width     float64
Species          object
dtype: object

In [49]:
df.loc[0] # 행정보

Sepal length       5.1
Sepal width        3.5
Petal length       1.4
Petal width        0.2
Species         setosa
Name: 0, dtype: object

In [50]:
df.index

RangeIndex(start=0, stop=150, step=1)

(2)데이터 내용 일부 (상위 , 하위 5줄) 확인

In [46]:
print(df.head(5))
print(df.tail(5))

   Sepal length  Sepal width  Petal length  Petal width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     Sepal length  Sepal width  Petal length  Petal width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

(3)통계요약 확인

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.describe(include='all')

In [21]:
df.count()
print(type(df.count()))

<class 'pandas.core.series.Series'>

(4)누락된 데이터 확인

In [ ]:
df.isnull()

(5)iris의 Species 속성값확인

In [30]:
df['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

(6)iris의 꽃잎 길이(Petal length)의 역순으로 확인

In [51]:
df.sort_values(by=['Petal length'],axis=0)

     Sepal length  Sepal width  Petal length  Petal width    Species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

**3) 데이터 추출**

(1)Species(종)이 setosa만추출

In [54]:
df['Species']=="setosa"

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [62]:
setosa = df[df.Species == 'setosa']
mean = setosa.mean()
print("setosa mean=\n", mean)

setosa mean=
 Sepal length    5.006000
Sepal width     3.428000
Petal length    1.462000
Petal width     0.246000
Sepal_rate      1.470188
Petal_rate      6.908000
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

(2) setosa에서 꽃받침길이(Sepal length)가 5이하인 데이터만 추출

In [ ]:
setosa[setosa['Sepal length'] <= 5]

In [ ]:
setosa

(3)setosa에서 꽃받침길이(Sepal length)속성, (Sepal width)폭 속성만 추출

In [ ]:
setosa[['Sepal length','Sepal width']]

**4) 데이터 속성 추가**

(1)꽃받침 길이( Sepal length)와 꽃받침 폭(Sepal width)의 비율을 새로운 속성으로 추가

In [57]:
df['Sepal_rate']= df['Sepal length'] / df['Sepal width']

(2)꽃잎 길이(Petal length) 와 꽃잎 폭(Petal width)의 비율을 새로운 속성으로 추가

In [59]:
df['Petal_rate']= df['Petal length'] / df['Petal width']

In [ ]:
df

**5) 그룹별 분리, 샘플링, 결합**

(1) Species을 기준으로 groupby 처리

In [73]:
grouped = df.groupby('Species')

(2) Species별 평균, 표준편차 확인

In [ ]:
r = grouped.agg(['mean','std'])
print(r)

(3) Species(종별) 로 분리

In [75]:
setosa = grouped.get_group(name='setosa')
versicolor = grouped.get_group(name='versicolor')
virginica = grouped.get_group(name='virginica')

(4) 분리된 3개의 종에서 각각 20개씩 랜덤 추출하여 결합

In [76]:
setosa20 = setosa.sample(n=20)
versicolor20 = versicolor.sample(n=20)
virginica20 = virginica.sample(n=20)

In [ ]:
# 결합
iris20 = setosa20.append(versicolor20)
iris20 = iris20.append(virginica20)
display(iris20)

In [ ]:
# 다른 방법 - 결합
iris20 = pd.concat([setosa20,versicolor20,virginica20])

**(5) (4)결과에 대한 통계값 확인**

In [78]:
display("iris20.describe() =", iris20.describe())

'iris20.describe() ='

,Sepal length,Sepal width,Petal length,Petal width,Sepal_rate,Petal_rate
count,60.000000,60.000000,60.00000,60.000000,60.000000,60.000000
mean,5.845000,3.080000,3.80500,1.226667,1.945336,4.026071
std,0.824708,0.452413,1.80211,0.768416,0.421284,1.880836
min,4.300000,2.000000,1.00000,0.100000,1.277778,2.280000
25%,5.100000,2.800000,1.60000,0.300000,1.470129,2.806743
50%,5.750000,3.000000,4.50000,1.400000,2.015152,3.248718
75%,6.425000,3.400000,5.15000,1.800000,2.235000,4.666667
max,7.700000,4.400000,6.90000,2.500000,2.961538,11.000000

In [80]:
display("df.describe() =", df.describe())

'df.describe() ='

,Sepal length,Sepal width,Petal length,Petal width,Sepal_rate,Petal_rate
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.953681,4.310500
std,0.828066,0.435866,1.765298,0.762238,0.400480,2.489648
min,4.300000,2.000000,1.000000,0.100000,1.268293,2.125000
25%,5.100000,2.800000,1.600000,0.300000,1.546188,2.802381
50%,5.800000,3.000000,4.350000,1.300000,2.032292,3.300000
75%,6.400000,3.300000,5.100000,1.800000,2.224910,4.666667
max,7.900000,4.400000,6.900000,2.500000,2.961538,15.000000